<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sun.mapper.HuitieMapper">

    <select id="getAllHuitie" parameterType="com.sun.entity.Huitie" resultType="com.sun.entity.Huitie">
        SELECT * FROM huitie
        WHERE
        bangdingtiezi = #{bangdingtiezi}
    </select>

    <insert id="addHuitie" parameterType="com.sun.entity.Huitie">
        insert into huitie(id,huitieneirong,yonghu,bangdingtiezi)
        values (#{id},#{huitieneirong},#{yonghu},#{bangdingtiezi})
    </insert>


</mapper>
