<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sun.mapper.TieziMapper">

    <select id="getAllTiezi" parameterType="com.sun.entity.Tiezi" resultType="com.sun.entity.Tiezi">
        SELECT * FROM tiezi
        WHERE
        bangdingbankuai = #{bangdingbankuai}
    </select>

    <insert id="addTiezi" parameterType="com.sun.entity.Tiezi">
        insert into tiezi(id,biaoti,neirong,fatieren,bangdingbankuai)
        values (#{id},#{biaoti},#{neirong},#{fatieren},#{bangdingbankuai})
    </insert>


</mapper>
